{% extends "./template/html.twig" %}

{% block metas_data %}{% endblock %}

{% block title %}Shoes | Produtos
{% endblock %}

{% block styles %}
   <link rel="stylesheet" href="{{file}}css/product.css">
{% endblock %}
{% block body %}
	<main>

			<form class="search" action="{{file}}product/buscar" method="GET" >
				<input type="search" minlength="3" maxlength="50" id="string" class="input-search" placeholder="Pesquisar">
				<button type="submit">
					<i class="fas fa-search lupa"></i>
				</button>
			</form>

		<section class="grid-main" id="l_cards">
			<div class="filters">
            <label for="filter">Filtrar por:</label>
				<select name="filter" id="filter" >
               <option value="0">Selecione</option>
               <option value="1">Categoria</option>
               <option value="2">Marca</option>
               <option value="3">Gênero</option>
            </select>
            <label for="order">Ordernar em:</label>
				<select name="order" id="order">
               <option value="0">Selecione</option>
               <option value="1">Crescente</option>
               <option value="2">Descrescente</option>
               <option value="3">Maior preço</option>
               <option value="4">Menor preço</option>

            </select>
            <button>Filtrar</button>
			</div>
			<div class="products">

				{% if like %}
						{% for product in like %}
							<div class="card">
								<div class="card_header">
									<img src="{{ file }}{{product.dirImageShoe}}" width="200" height="200" alt="{{product.nameShoe}}">
								</div>
								<div class="card_body">
									<h2>{{product.nameShoe}}</h2>
									<p>{{product.genderShoe}}</p>
									<p class="price">R$ {{ product.priceShoe }}</p>
									<a href="{{file}}product/details/{{product._id}}" class="details" target="_blank">Detalhes</a>
								</div>
							</div>
						{% endfor %}
						
				{% else %}

					{% for product in products %}
						<div class="card">
							<div class="card_header">
								<img src="{{ file }}{{product.dirImageShoe}}" width="200" height="200" alt="{{product.nameShoe}}">
							</div>
							<div class="card_body">
								<h2>{{product.nameShoe}}</h2>
								<p>{{product.genderShoe}}</p>
								<p class="price">R$ {{ product.priceShoe }}</p>
								<a href="{{file}}product/details/{{product._id}}" class="details" target="_blank">Detalhes</a>
							</div>
						</div>
					{% endfor %}

				{% endif %}

			</div>

		</section>
	</main>


{% endblock %}

{% block scripts %}
   <script type="text/javascript" src="{{file}}js/product.js"></script>
{% endblock %}
