<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-TN3KXCZ');</script><script type="text/javascript" src="https://www.extra-imagens.com.br/Js/vv-datalayer/vv-datalayer.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Guilherme Delfino & Vitória Gonçalves">
    <meta name="generator" content="Delfino e Vitoria">
    <meta name="Abstract" content="A melhor loja de todas para se encontrar tenis e sapatos lindissimos para programadores ainda mais lindissimos, com muito orgulho apresento a vocês... SHOES!" />
    <meta name="theme-color" content="#22222f">
    <meta id="meta-application-name" name="application-name" content="Shoes" />
    <meta id="meta-description" name="description" content="A melhor loja de todas para se encontrar tenis e sapatos lindissimos para programadores ainda mais lindissimos, com muito orgulho apresento a vocês... SHOES!" />
    <meta id="meta-keywords" name="keywords" content="shoe, sapatos, tenis, nike, adidas, puma, elegante, bonito, all star, tenis casual, air max" />
    <meta id="meta-item-name" itemprop="name" content="Shoes" />
    <meta id="meta-item-description" itemprop="description" content="A melhor loja de todas para se encontrar tenis e sapatos lindissimos para programadores ainda mais lindissimos, com muito orgulho apresento a vocês... SHOES!" />
    <meta id="meta-item-image" itemprop="image" content="{{file}}img/logo.png"/> 
    <meta id="twt-card" name="twitter:card" content="summary" />
    <meta id="twt-site" name="twitter:site" content="@shoes" />
    <meta id="twt-title" name="twitter:title" content="Shoes" />
    <meta id="twt-description" name="twitter:description" content="A melhor loja de todas para se encontrar tenis e sapatos lindissimos para programadores ainda mais lindissimos, com muito orgulho apresento a vocês... SHOES!" />
    <meta id="twt-creator" name="twitter:creator" content="@shoes" />
    <meta id="twt-image" name="twitter:image" content="{{file}}img/logo.png"/> 
    <meta id="og-title" property="og:title" content="Shoes" />
    <meta id="og-type" property="og:type" content="website" />
    <meta id="og-url" property="og:url" content="https://dvshoes.com.br" />
    <meta id="og-image" property="og:image" content="{{file}}img/logo.png"/> 
    <meta id="og-description" property="og:description" content="A melhor loja de todas para se encontrar tenis e sapatos lindissimos para programadores ainda mais lindissimos, com muito orgulho apresento a vocês... SHOES!" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="Shoes">
    <meta property="og:url" content="https://dvshoes.com.br">
    <meta property="og:site_name" content="Shoes">

    <link rel="shortcut icon" href="{{file}}img/logo.png" type="image/png" />   
    {% block metas_data %}
        <meta name="description" content="Essa é minha descricao do site que aparece no negocio de busca">
    {% endblock %}
    <title>{% block title %}Title page{% endblock %}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
   
    <link rel="stylesheet" href="{{file}}css/reset.css">
    <link rel="stylesheet" href="{{file}}css/footer.css">
    <link rel="stylesheet" href="{{file}}css/menu.css">
    
    {% block styles %}
    
    {% endblock %}
</head>
<body>
    
    {% include "navbar.twig" %}
    {% block body %}

    {% endblock %}

    {% include "footer.twig" %}

    <script src="{{file}}js/menu.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
