{% extends "./template/html.twig" %}

{% block metas_data %}{% endblock %}

{% block title %}Shoes | Excluir
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="{{file}}css/delete.css">
{% endblock %}

{% block body %}

	<main id="update">
        {% if products %}
                <h1>Deletar produto</h1>
                <section class="l_table">
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Produto</th>
                                <th>Imagem</th>
                                <th>Atualizar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                                <tr>
                                    <td>{{product._id}}</td>
                                    <td>{{product.nameShoe}}</td>
                                    <td><img src="{{file}}{{product.dirImageShoe}}" alt="{{product.nameShoe}}"></td>
                                    <td>
                                        <a href="{{file}}product/delete/{{product._id}}">Atualizar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </tbody>
        </section>
        {% else %}
            <h1>Sem produtos!!</h1>
        {% endif %}
</main>{% endblock %}{% block scripts %}
<script src="{{file}}js/delete.js"></script>{% endblock %}
