{% extends "./template/html.twig" %} {% block title %}Shoes | Inserir {%
endblock %} {% block metas_data %}
<meta
  name="description"
  content="Venha e entre como administrador na melhor loja de Tenis, a SHOES"
/>
{% endblock %} {% block styles %}
<link rel="stylesheet" href="{{ file }}css/form.css" />
{% endblock %} {% block body %}
<main>
  <div id="main_insert">
    <div class="fd-col">
      <section id="brand">
        <div class="div_form">
          <h2>Marca</h2>
          <form action="{{file}}brand/create" method="POST" class="form">
            <div class="form-item col">
              <label for="brandName" class="lb">Marca: </label>
              <input type="text" id="brandName" name="brandName" required maxlength="50" min="3" />
              <div class="div_message">
                <p class="message"></p>
              </div>
            </div>
            <div class="form-item">
              <button type="submit" id="button_submit">Inserir</button>
            </div>
          </form>
        </div>
      </section>

      <section id="category">
        <div class="div_form">
          <h2>Categoria</h2>
          <form action="{{file}}category/create" method="POST" class="form">
            <div class="form-item col">
              <label for="categoryName" class="item-label">Categoria: </label>
              <input type="text" id="categoryName" name="categoryName" required maxlength="50" min="3"/>
              <div class="div_message">
                <p class="message"></p>
              </div>
            </div>
            <div class="form-item">
              <button type="submit" id="button_submit">Inserir</button>
            </div>
          </form>
        </div>
      </section>
    </div>
    <div class="fd-col">
      <section id="product">
        <div class="div_form">
          <h2>Produto</h2>
          <form
            action=""
            method="POST"
            enctype="multipart/form-data"
            class="form"
          >
            <div class="form-item col">
              <label for="productName" class="item-label">Produto: </label>
              <input
                type="text"
                id="productName"
                name="productName"
                class="item-input"
                maxlength="50"
                minlength="10"
              />
              <div class="div_message">
                <p class="message"></p>
              </div>
            </div>

            <div class="form-item col">
              <label for="description" class="item-label">Descricao: </label>
              <textarea
                name="description"
                id="description"
                rows="3"
                class="item-input"
                maxlength="100"
                minlength="10"
              ></textarea>
              <div class="div_message">
                <p class="message"></p>
              </div>
            </div>
            <div class="form-item col">
              <label for="gender" class="item-label">Genero: </label>
              <div class="btn nshadow al-center">
                <input type="radio" value="Male" class="radio" name="radio" />
                <label for="radioM">Masculino</label>
              </div>
              <div class="btn nshadow al-center">
                <input type="radio" value="Female" class="radio" name="radio" />
                <label for="radioF">Feminino</label>
              </div>
              <div class="btn nshadow al-center">
                <input type="radio" value="Unissex" class="radio" name="radio" />
                <label for="radioU">Unissex</label>
              </div>
              <div class="div_message">
                <p class="message"></p>
              </div>
            </div>
            <div class="form-item col">
              <label for="price" class="item-label">Valor: </label>
              <input
                id="price"
                type="text"
                inputmode="numeric"
                name="price"
                class="item-input"
                minlength="3"
                placeholder="R$ 0,00"
              />
              <div class="div_message">
                <p class="message"></p>
              </div>
            </div>
            <div class="form-item col">
              <label for="selectCategory" class="item-label">Categoria: </label>
              <select name="selectCategory" required id="selectCategory">
                <option value="0">Selecione</option>
                 {% for category in categories %}
                  <option value="{{category._id}}">{{category.nameCategory}}</option>
                {% endfor %}
              </select>
              <div class="div_message">
                <p class="message"></p>
              </div>
            </div>
            <div class="form-item col">
              <label for="selectBrand" class="item-label">Marca: </label>
              <select name="selectBrand" id="selectBrand">
                <option value="0">Selecione</option>
                {% for brand in brands %}
                  <option value="{{brand._id}}">{{brand.nameBrand}}</option>
                {% endfor %}
              </select>
              <div class="div_message">
                <p class="message"></p>
              </div>
            </div>
            <div class="form-item col">
              <label for="colors" class="item-label">Cores: </label>
              <div class="form-item btn">
                <input
                list="colorsList"
                  type="text"
                  id="colors"
                  name="colors"
                  max="10"
                  min="3"
                />
                <datalist id="colorsList">
                  <option value="Vermelho">
                  <option value="Roxo">
                  <option value="Rosa">
                  <option value="Azul">
                  <option value="Verde">
                  <option value="Preto">
                  <option value="Cinza">
                  <option value="Branco">
                  <option value="Colorido">
                  <option value="Laranja">
                  <option value="Marrom">
                </datalist>
                <button type="button" class="button shadow" id="add_color">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
              <div class="form-item row" id="tags">
               <div id="chips">
               </div>
              </div>
            </div>
            <div class="form-item col">
              <label for="image" class="item-label">Imagem: </label>
              <label for="image" class="lb-sm file_image">
                <i class="fas fa-upload"></i>
                Nenhum arquivo selecionado 
              </label>
              <input type="file" id="image" accept="image/*" hidden class="nshadow" name="image" />
              <div class="imagePreview d-none shadow"></div>
              <div class="div_message">
                <p class="message"></p>
              </div>
            </div>
            <div class="form-item">
              <button type="submit" id="button_submit">Inserir</button>
            </div>
          </form>
        </div>
      </section>
    </div>
  </div>
</main>

{% endblock %}
{% block scripts %}
<script src="https://unpkg.com/imask"></script>
<script type="module" src="{{ file }}js/insert.js"></script>
{% endblock %}
