{% extends "./template/html.twig" %}

{% block metas_data %}{% endblock %}

{% block title %}Shoes | Excluir
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="{{file}}css/update.css">
{% endblock %}

{% block body %}

	<main id="update">

		<div id="l_form" class="visible">
			<button id="close">
				<i class="fas fa-times"></i>
			</button>
			<form action="" method="post" class="form">
				<div class="form-item col">
					<input type="text" name="name" placeholder="Produto" id="name" class="item-input" required maxlength="100" minlength="5">
				</div>
				<div class="form-item col">
					<textarea name="description" placeholder="Descricao" id="description" rows="4" required maxlength="200" minlength="5"></textarea>
				</div>
				<div class="form-item radio">
					<label for="rmasc">
						<input type="radio" id="rmasc" name="radio" class="item-input">
						<span class="label">Masculino</span>
					</label>
					<label for="rfemi">
						<input type="radio" id="rfemi" name="radio" class="item-input">
						<span class="label">Feminino</span>
					</label>
					<label for="funi">
						<input type="radio" id="runi" name="radio" class="item-input">
						<span class="label">Unissex</span>
					</label>
				</div>
				<div class="form-item col">
					<input type="text" name="price" id="price" placeholder="R$ 0,00" class="item-input">
				</div>
				<div class="form-item col">
					<select name="category" id="category">
						<option value="0">Categoria</option>
						{% for category in categories %}
							<option value="category._id">{{category.nameCategory}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-item col">
					<select name="brand" id="brand">
						<option value="0">Marca</option>
						{% for brand in brands %}
							<option value="brand._id">{{brand.nameBrand}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-item row">
					<div class="container-button">
						<input type="text" id='color' list="colorsList" placeholder="Cores">
						<button>
							<i class="fas fa-plus"></i>
						</button>
					</div>
					<div id="chips"></div>
                    <datalist id="colorsList">
                        <option value="Vermelho">
                        <option value="Roxo">
                        <option value="Rosa">
                        <option value="Azul">
                        <option value="Verde">
                        <option value="Preto">
                        <option value="Cinza">
                        <option value="Branco">
                        <option value="Colorido">
                        <option value="Laranja">
                        <option value="Marrom">
                      </datalist>
				</div>
				<div class="form-item col column">
					<label for="image">
						<i class="fas fa-upload"></i>
						<span>Nenhum arquivo selecionado</span>
					</label>
                    <div id="preview">
                        
                    </div>
					<input type="file" hidden accept="image/*" id="image" name="image">
				</div>
				<div class="form-item col">
					<button type="submit">Atualizar</button>
				</div>
			</form>
		</div>
		{% if products %}
			<h1>Atualizar produto</h1>
			<section class="l_table">
				<table>
					<thead>
						<tr>
							<th>ID</th>
							<th>Produto</th>
							<th>Imagem</th>
							<th>Atualizar</th>
						</tr>
					</thead>
					<tbody>
						{% for product in products %}
							<tr>
								<td>{{product._id}}</td>
								<td>{{product.nameShoe}}</td>
								<td><img src="{{file}}{{product.dirImageShoe}}" alt="{{product.nameShoe}}"></td>
								<td>
									<a href="#">Modificar</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</tbody>
		</section>
	{% else %}
		<h1>Sem produtos!!</h1>
	{% endif %}


</main>{% endblock %}{% block scripts %}
<script src="{{file}}js/update.js"></script>{% endblock %}
